

/******************* progress-section****************** */
#ProgressSection {
  background-color: var(--bg-light);
  width: 100%;
  padding: 0px 20px;
}

.profile-card {
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 20px;
  width: fit-content;
  padding: 55px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 0.4);
  transition: transform 0.5s ease;
  margin-top: 40px;
  cursor: pointer;

  &:hover {
    transform: translateY(-20px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}


.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.profile {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  box-shadow:
    0 4px 20px rgba(255, 255, 255, 0.6),
    /* soft white spread */
    0 0 10px rgba(255, 255, 255, 0.4),
    /* ambient white */
    inset 0 1px 2px rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
}

.profile-content h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.profile-content i {
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #fd8984, #fd6056);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;

}

.profile-icon p {
  display: flex;
  align-items: baseline;
  gap: 10px;


}

.profile-content p {
  font-size: 15px;
  color: #4b4c4d;
}

.card {
  width: 300px;
  padding: 10px;
  margin-top: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 0.4);
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-20px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  }

}

.card p {
  font-size: 15px;
  color: #4b4c4dab;

}

.hed-liner {
  width: 150px;
  height: 20px;
  background: linear-gradient(to bottom, #fd8984, #fd6056);
  border-radius: 20px;
  margin-top: -18px;
  margin-bottom: 20px;
}

.card h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--icon-bg);
}

.Overview {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  /* font-size: 36px; */
  margin-top: 40px;

  color: var(--scarlet-900);
  text-transform: uppercase;
}

.card-icon {
  width: 40px;
  height: 40px;
  background-color: rgba(28, 16, 201, 0.432);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card-content h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.card-main {
  display: flex;
  gap: 15px;
  background-color: var(--bg-light);
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  width: 250px;
  padding: 30px;
  border-radius: 15px;
  margin-top: 20px;
  /* align-items: center; */
}

@media (max-width: 768px) {
  .card-main {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .chart-container {
    margin: 0 auto;
  }
}


.card-main p {
  font-size: 15px;
  color: #4b4c4dab;

}

.card-section {
  display: flex;
  justify-content: space-evenly;
}

/**************** chart*************** */
.chart-container {
  max-width: 400px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* padding: 25px; */
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}


.pie-chart {
  width: 180px;
  height: 197px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  /* background-color: yellowgreen; */
  padding-top: 20px;

}

.pie-chart p {
  color: #555555b4;
  font-size: 12px;
  margin-bottom: 5px !important;
  padding-top: 10px;
}

#subjectChart2,
#subjectChart,
#subjectChart3,
#subjectChart4 {
  width: 70% !important;
  height: 70% !important;
  margin: 0 auto;

  /* background-color: yellowgreen; */
}

.pie-card {
  max-width: 400px;
  background-color: var(--bg-light);
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #FFFFFF !important;
  backdrop-filter: blur(10px);
}


.bar-chart {
  /* margin-left: 45px; */
  margin-top: 20px;
}

/**************************** skill-section*************************** */
.bar-chart-exam {
  width: 100%;
  /* max-width: 700px; */
  margin-top: 10px;
  background: #fff;
  padding: 20px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #5a4fcf;
  margin-bottom: 5px;
}

/**************************** line-chart*************************** */

.chart-card {
  max-width: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  font-weight: 600;
}

/******************************* Extracurriluclar Activities ****************************** */
.extracurricular-chart {
  width: 237px;
  height: 237px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  background: white;
  border-radius: 25px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  /* padding: 30px 35px; */
  transition: all 0.3s ease;
}

.glassy-card {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  box-shadow:
    8px 8px 20px rgba(0, 0, 0, 0.08),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px;
  transition: all 0.3s ease;
}

h3 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

canvas {
  max-width: 100%;
}

/***************************** progress--big-card**************************** */
.report-box {
  background: var(--bg-light);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 9px 10px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 28px;
  font-weight: 600;
   background: linear-gradient(90deg, #7b61ff63, #7b61ffd8);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #7b7b7b;
  margin-bottom: 30px;
}

.circle-progress {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#7B61FF 0% 78%, #e7ebff 78% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 23px auto;
}

.circle-progress::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
}

.circle-progress span {
  position: absolute;
  font-size: 28px;
  font-weight: 600;
  color: #5a5aff;
}

.status-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.box {
  flex: 1;
  margin: 0 8px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid transparent;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.best {
  background: linear-gradient(90deg, #7B61FF, #7b61ff63);

  border-color: #b8f0cb;
}

.best h4 {
  color: white;
}

.improve {
  background: linear-gradient(90deg, #7b61ff63, #7b61ffd8);
  border: none;
}

.improve h4 {
  color: white;
}

.label {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.download-btn {
  background: linear-gradient(90deg, #7B61FF, #7b61ff63);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  margin-bottom: 27px;
}

.download-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(79, 102, 255, 0.3);
}

/********************************** tab-section********************************* */
  .tab-wrapper {
      width: 100%;
      background: var(--bg-light);
      border-radius: 0px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
      padding: 25px;
      margin-top: 20px;
    }

    .tab-header {
      display: flex;
      gap: 10px;
      border-bottom: 1px solid #2c2c35;
      padding-bottom: 10px;
      margin-bottom: 25px;
    }

    .tab-btn {
      background: transparent;
      border: none;
      color: #aaa;
      font-weight: 500;
      padding: 8px 18px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }

    .tab-btn.active {
      background: linear-gradient(90deg, #6c63ff, #00c6ff);
      color: #fff;
      font-weight: 600;
    }

    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
    }

    /* ---------- Card Style ---------- */
    .tab-card {
      background: var(--bg-light);
      box-shadow: var(--shadow-strong);
      border-radius: 12px;
      padding: 20px;
      margin-bottom: 18px;
      transition: 0.3s;
    }

    .tab-card:hover {
      /* transform: translateY(-4px); */
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    }

    .tab-card h4 {
      color: #050505;
      margin-bottom: 8px;
    }

    .progress-bar {
      height: 10px;
      border-radius: 6px;
      background: #7b7bca;
      overflow: hidden;
      margin-top: 10px;
    }

    .progress-bar span {
      display: block;
      height: 100%;
      background: linear-gradient(90deg, #6c63ff, #00c6ff);
    }

    .score {
      font-size: 0.9rem;
      color: #a0a0b0;
      margin-top: 6px;
    }


    /* chart */
 #attendanceChart {
      width: 400px !important;
      height: 250px !important;
    }

    /* Pie Chart (fixed circle shape) */
    .pie-wrapper {
      width: 300px;
      height: 300px;
      position: relative;
    }
    canvas {
      width: 100% !important;
      height: 100% !important;
    }


/********************************* progress-section********************************   */