:root {
  --scarlet-50: #ffedec;
  --scarlet-100: #fed5d3;
  --scarlet-200: #feaeac;
  --scarlet-300: #fd8984;
  --scarlet-400: #fd6056;
  --scarlet-500: #f53010;
  --scarlet-600: #d3280c;
  --scarlet-700: #a61d07;
  --scarlet-800: #751103;
  --scarlet-900: #440601;
  --scarlet-950: #2a0200;
}